@use "sass:color";
// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 8px 8px 0px 8px; /* margenes de la barra */
    }

    button {
        border-radius: 8px;
        margin: 2px;
        border: 50px;
    }

     .AudioSlider {
         * {
            all: unset;
        }
         icon {
            margin-right: .6em;
        }

        & {
            margin: 0 1em;
        }
        highlight {
            background-color: $fg-color;
            min-height: .8em;
            border-radius: 8px;
        }
       slider{
            background-color: transparent;
            border-radius: 8px;
            min-height: 1em;
            min-width: 1em;
            margin: 0em;
        }
           trough {
            background-color: color.adjust(#3C3836, $alpha: -0.8);
            border-radius: 8px;
        }
    }

}

