#!/usr/bin/env bash
set -euo pipefail

gsettings set org.gnome.desktop.interface gtk-theme "Matugen"
gsettings set org.gnome.desktop.interface icon-theme "Matugen"
gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"
