* {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    color: white;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 4px 10px;
    margin: 5px;
}

#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature {
    padding: 10px;
    color: white;
}

#network,
#pulseaudio,
#memory,
#temperature {
    border-right: 1px solid #444444;
}

#clock {
    font-weight: 700;
    font-size: 12px;
}

#window {
    padding: 0 5px;
    font-weight: 600;
}

#battery {
    color: white;
    background: white;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 10px;
}

#custom-launcher {
    color: white;
    padding: 0 20px 0 13px;
    font-size: 23px;
}

#custom-text {
    padding-left: 1px;
    font-weight: 600;
}

#custom-texttwo,
#custom-textthree,
#custom-textfour,
#custom-textfive {
    font-size: 13px;
    padding-left: 20px;
    color: white;
}

#image.ethernetart {
    color: white;
}

#custom-date {
    color: white;
    font-size: 13px;
    font-weight: 700;
}

#custom-blue_light_filter{
    font-size: 24px;
    padding:5px;
    border-radius:5px;
    /* background-color: #2e3440; */
    color:white;
}

#custom-blue_light_filter:hover{
    /* background-color: #4c566a; */
    color: white;
}
